<div class="row">
  <div ngClass="col-lg-4 col-md-6 mb-4" *ngFor="let n of news">
    <div class="card h-100">
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">{{n.name}}</a>
        </h4>
        <h5>{{n.userId}}</h5>
        <p class="card-text">{{n.id}}</p>
        <p class="card-text">{{n.title}}</p>
        <p class="card-text">{{n.body}}</p>
      </div>
      <div class="card-footer">
      </div>
    </div>
  </div>

</div>
<div *ngIf="selected">
<app-product [data]='selected'></app-product>
</div>